.header__logo {
  width: 142px;
  height: 33px;
  background-image: url('../../../images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: width .5s, height .5s;
  -o-transition: width .5s, height .5s;
  transition: width .5s, height .5s;
}

/* Для плавного появления маржина */
@media screen and (max-width: 927px) {
  .header__logo {
    margin-left: calc(927px - 100vw);
  }
}

@media screen and (max-width: 900px) {
  .header__logo {
    margin-left: 27px;
  }
}


@media screen and (max-width: 768px) {
  .header__logo {
    width: 104px;
    height: 24px;
  }
}
